body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    width: 100%;
}

* {
    padding: 0%;
}


/*barra de navegacion */


.barra-de-navegacion {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: flex-end;
    
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white ;
}



ul {
    width: 35%;
    display: flex;
    list-style: none;
    margin-right: 80px;
    justify-content: space-around;
    font-family: 'Unica One', cursive;

}

a {
    text-decoration: none;
    color: black;
}

li {
    padding: 15px 25px;
}

.elemento-contacto {
    border: 1px solid  #f4f4f4 ;
    border-radius: 20px;;
    background-color: #c7e977;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s 0.1s;
}

/* responsive */

@media (max-width:1100px) {
    ul {
        display: none;
    }
}

.hover-color {
    transition: 0.1s 0.2s;
}

.hover-color:hover {
    color: #00ff08;
}

.hover-color-contenedor:hover {
    background-color: #c2fe36; ;
}

 /*SECCION PRESENTACION */

main {
    background-color: #f7f7f7
}

.presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content:space-around;
    padding: 120px 80px 120px;
    margin-top: 80px;
    
    flex-direction: row;
    
}
@media (max-width:1100px) {
    .presentacion {
            flex-direction: column;
    }

}

.contenedor-texto-presentacion {
    display: flex;
    flex-direction: column;
    min-height: 50%;
    align-items: flex-start;
    ;
}
@media (max-width:1100px) {
    .contenedor-texto-presentacion {
        justify-content: center;
        align-items: center;
    } 
}

.imagen-presentacion {
    width: 100%;
    
}
.contenedor-imagen {
    max-width: 600px;

}


/*estilos texto presentacion */

.texto-holasoy {
    font-size: 50px;
    margin: 0%;
    font-family: 'Unica One', cursive;
    color: rgb(71, 90, 71);
    font-size: 40px;
}

.texto-nombre {
    margin: 0%;
    font-size: 80px;
    font-weight: 700;
    font-family: 'Cabin Condensed', sans-serif;
        color: #c7e977;
}

.sub-textos {
font-size: 20px;
}

.link-loquehago {
    font-family: 'Unica One', cursive;
    border: 1px solid  #f4f4f4 ;
    border-radius: 20px;;
    background-color: #c7e977;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 15px;
}

/* SECCION CONOCIMIENTOS y SECCION CAJAS (CLASES COMPARTIDAS) */

.seccion-cajas {
    background-color: #f0fed0;
    display: flex;
    justify-content: center;
    padding-top: 90px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
    max-width: 100%;

}

.contenedor-seccion-cajas {
display:flex ;
justify-content: center;
align-items: center;
flex-direction: column;
max-width: 100%;

}

.titulo-seccion-cajas {
    font-family: 'Cabin Condensed', sans-serif;
    color: rgb(39, 42, 36);
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center
}

.nombres-conocimientos {
        font-size: 1rem;
        color: rgb(59, 62, 57);
        font-family: 'Unica One', cursive;

}

.sub-textos {
    text-align: center;
    max-width: 400px;
}

.contenedor-articles {
    display: flex;
    /* justify-content: space-around; */
    /* width: 100vw; */
    flex-wrap: wrap;
    /* align-items: center; */
    width: 80%;
    justify-content: center;
    
}

.article-icon {
    font-size: 80px;
    color: #aaff01;
    border: 1px solid #d1d0d0;
    border-radius: 10px;
    width: 170px;
    height: 170px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: #f6ffe0;
    transition-duration: 0.4s, 0.5s;
    overflow: hidden;

}

.article-icon:hover {
    border: 1px solid #00ff08;
    -webkit-box-shadow: 0px 0px 70px -34px rgba(114,250,73,1);
-moz-box-shadow: 0px 0px 70px -34px rgba(114,250,73,1);
box-shadow: 0px 0px 70px -34px rgba(114,250,73,1);
    }

/* SECCION FRASE */

.fa-quote-left {
        font-size: 5rem;
        margin: 50px 0px 20px;
        color: #edf4dc ;
}


.section-frase {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #d49cf0;

    background-image: radial-gradient(#C7E977 2px, #d49cf0 2px);
    background-size: 40px 40px;

    padding: 8%;
}

.contenedor-frase {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #edf4dc;
}

.frase {
    max-width: 900px;
    font-size: 23px;
    color: #edf4dc;
    text-align: center;
}

.sub-frase {
    color: #edf4dc;
    font-size: 2em;
}


/* SECCION MIS PROYECTOS */ 

.nombres-proyectos {
    font-size: 1rem;
    color: rgb(59, 62, 57);
    font-family: 'Unica One', cursive;

}

.box-ilustraciones {
    width: 250px;
    height: 250px;
    margin: 3px;
    background-color: #f3e0fd;

}

.ilustaciones {
    max-width: 100px
}

.mis-proyectos {
    background-color: white;
    padding: 50px 8rem 150px;
    background-color: #fffff7
    ;
}

.reajuste-clase {
    width: 85%;
    padding: 30px 0;
    
    justify-content: flex-start;
}




/* seccion CONTACTAME */

.seccion-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
    background-color: #f0fed0;
}
.titulos-secciones {
    font-size: 50px;
    font-weight: 900 ;
    font-family: 'Cabin Condensed', sans-serif;
    color: #d49cf0;
}
.contenedor-contacto {
    display: flex;
    flex-direction: row;
    background-color: white;
    text-align: left;
    border: solid 1px rgb(210, 207, 207);
    border-radius: 10px;
    padding: 60px;
    width: 75vw;
    justify-content: space-evenly;
}

.text-left {
    text-align: left;
}

.contenedor-lista {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.lista-webs {
    display: flex;
    flex-direction: column;
    
}

.contenedor-formulario {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#form-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-size: 20px;
}

@media (max-width:900px) {
    .contenedor-contacto {
            flex-direction: column;
    }
    .contenedor-formulario {
        width: 100%;
    }
}

.fa-brands {
    color: #aaff01;
    
}
.fa-solid {

    color: #aaff01;
    
}
.iconos-redes-ajuste{
    padding-right: 10px;
}


.is-display-flex {
    display: flex;
    /* flex-direction: row; */
}

input, textarea {
    
    border-radius: 20px;
    
    font-size: 0.8em;
    border: 0;
    background-color: #f4f4f4;
    border: 0.5px solid #daff91;
    /* display: block; */
    width: 80%;
    /* outline: none; */ 
    padding: 8px 15px;
    transition: 0.2s; }
    

    label {
        padding: 15px 0 15px; 
        width: 100%;;
    }

    .direction-colum {
        flex-direction: column ;
    }

    #input-submit {
        width: 130px;
        padding: 15px;
    }

    textarea, input:hover {
        border: 1px solid rgb(190, 100, 234);
        -webkit-box-shadow: 0px 0px 27px 2px rgba(211,155,239,1);
        -moz-box-shadow: 0px 0px 27px 2px rgba(211,155,239,1);
        box-shadow: 0px 0px 27px 2px rgba(211,155,239,1);

        }

 /* FOOTER */

.footer-contenedor {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #d49cf0;
    padding: 60px 0 60px ;
}

.listas-footer {
    justify-content: center;
    margin: 0;
    padding: 10px 0;
}

.iconos-footer {
    padding: 90%;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    font-size: 1.2rem;
    transition: 0.1s;
    border-color: #f0fed0;
}

.iconos-footer:hover {
    background-color: #aaff01;;
}

.fa-brands:hover {
    color: #ffffff;
}

.fa-solid:hover {
    color: #ffffff;
}
